
   

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /*-webkit-user-select: none;
  -webkit-user-drag: none;
  -webkit-app-region: none;*/
}

body {
  background-color:white;
  display: grid;
  place-content: center;
  font-family:'Courier New', Courier, monospace;
  height: 100vh;
  font-size: 2rem;
}

.container {
  height: 80vh;
  width: 80vh;
  background-color: grey;
  /*border-radius: 1rem;*/
  /*padding: 1rem;*/
  -webkit-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  -moz-box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
  box-shadow: 7px 7px 5px 0px rgba(50, 50, 50, 0.75);
}

.wrapper {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 1px;
}

.screen {
  grid-column: 1 / -1;
  color: white;
  text-align: right;
  padding: 0.5rem;
  font-size: 4rem;
  overflow: hidden;
}

.btn {
  display: grid;
  place-content: center;
  background-color: lightgrey;
  /*border-radius: 50%;*/
  color:black;
  /*cursor: pointer;*/
  font-weight: bold;
}
.btn:hover {
  background-color: gray;
}

.light-gray {
  background-color: lightgrey;
  color: black;
}

.light-gray:hover {
  background-color: white;
}

.orange {
  background-color: rgb(90, 226, 215);
}

.orange:hover {
  background-color: white;
  color: orange;
}

.zero {
  grid-column: 1 / span 2;
  border-radius: 1px;
 
  align-items: center;
  padding-left: 2rem;
}
